ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ============== HEADER STYLES ============== */

.main-header {
    border-bottom: 1px solid #e7e9fc;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-header .container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logotype-studio {
    color: #2e2f42;
}

.menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
    color:#404bbf;;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}


.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ============== HERO STYLES ============== */

.hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button {
    background: #4d5ae5;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

/* ============== OUR BENEFITS STYLES ============== */

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ============== OUR TEAM STYLES ============== */
.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);

}

.team-container {

    padding: 32px 0;

}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list-img {
    
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* ============== PORTFOLIO STYLES ============== */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

/* ============== FOOTER STYLES ============== */

.page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}